# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Astrometry.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Astrometry.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Attributes.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Attributes.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Controls.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.DeviceInterfaces.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.DeviceInterfaces.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Controls.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Internal.Extensions.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Internal.Extensions.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Exceptions.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Exceptions.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.RosedaleEQ1.Telescope.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.RosedaleEQ1.Telescope.pdb
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.RosedaleEQ1.Telescope.tlb
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Utilities.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.SettingsProvider.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.SettingsProvider.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Utilities.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Debug/ASCOM.Utilities.Video.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.DeviceInterfaces.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.DeviceInterfaces.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Controls.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Controls.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Attributes.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Attributes.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Astrometry.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Astrometry.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Utilities.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.SettingsProvider.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.SettingsProvider.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.RosedaleEQ1.Telescope.pdb
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.RosedaleEQ1.Telescope.dll.config
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.RosedaleEQ1.Telescope.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Internal.Extensions.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Internal.Extensions.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Exceptions.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Exceptions.dll
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Utilities.xml
/ASCOM.RosedaleEQ1.Telescope/bin/Release/ASCOM.Utilities.Video.dll
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/ASCOM.RosedaleEQ1.Properties.Resources.resources
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/ASCOM.RosedaleEQ1.Telescope.pdb
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/ASCOM.RosedaleEQ1.Telescope.dll
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/ASCOM.RosedaleEQ1.SetupDialogForm.resources
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/ASCOM.RosedaleEQ1.Telescope.csproj.FileListAbsolute.txt
/ASCOM.RosedaleEQ1.Telescope/obj/Debug/ASCOM.RosedaleEQ1.Telescope.csproj.GenerateResource.Cache
/ASCOM.RosedaleEQ1.Telescope/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/ASCOM.RosedaleEQ1.Telescope/obj/Release/ASCOM.RosedaleEQ1.Telescope.pdb
/ASCOM.RosedaleEQ1.Telescope/obj/Release/ASCOM.RosedaleEQ1.Telescope.dll
/ASCOM.RosedaleEQ1.Telescope/obj/Release/ASCOM.RosedaleEQ1.Telescope.csproj.GenerateResource.Cache
/ASCOM.RosedaleEQ1.Telescope/obj/Release/ASCOM.RosedaleEQ1.Telescope.csproj.FileListAbsolute.txt
/ASCOM.RosedaleEQ1.Telescope/obj/Release/ASCOM.RosedaleEQ1.SetupDialogForm.resources
/ASCOM.RosedaleEQ1.Telescope/obj/Release/ASCOM.RosedaleEQ1.Properties.Resources.resources
/ASCOM.RosedaleEQ1.Telescope/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ASCOM.RosedaleEQ1.Telescope/obj/ASCOM.RosedaleEQ1.Telescope.csproj.UnmanagedRegistration.cache
/TestRosedale/bin/Debug/ASCOM.RosedaleEQ1.Test.exe.config
/TestRosedale/bin/Debug/ASCOM.RosedaleEQ1.Test.exe
/TestRosedale/bin/Debug/ASCOM.Exceptions.xml
/TestRosedale/bin/Debug/ASCOM.Exceptions.dll
/TestRosedale/bin/Debug/ASCOM.DriverAccess.xml
/TestRosedale/bin/Debug/ASCOM.DriverAccess.dll
/TestRosedale/bin/Debug/ASCOM.DeviceInterfaces.xml
/TestRosedale/bin/Debug/ASCOM.DeviceInterfaces.dll
/TestRosedale/bin/Debug/ASCOM.Utilities.xml
/TestRosedale/bin/Debug/ASCOM.Utilities.dll
/TestRosedale/bin/Debug/ASCOM.RosedaleEQ1.Test.vshost.exe.config
/TestRosedale/bin/Debug/ASCOM.RosedaleEQ1.Test.vshost.exe
/TestRosedale/bin/Debug/ASCOM.RosedaleEQ1.Test.pdb
/TestRosedale/bin/Release/ASCOM.RosedaleEQ1.Test.pdb
/TestRosedale/bin/Release/ASCOM.RosedaleEQ1.Test.exe.config
/TestRosedale/bin/Release/ASCOM.RosedaleEQ1.Test.exe
/TestRosedale/bin/Release/ASCOM.Exceptions.xml
/TestRosedale/bin/Release/ASCOM.Exceptions.dll
/TestRosedale/bin/Release/ASCOM.DriverAccess.xml
/TestRosedale/bin/Release/ASCOM.DriverAccess.dll
/TestRosedale/bin/Release/ASCOM.DeviceInterfaces.xml
/TestRosedale/bin/Release/ASCOM.DeviceInterfaces.dll
/TestRosedale/bin/Release/ASCOM.Utilities.xml
/TestRosedale/bin/Release/ASCOM.Utilities.dll
/TestRosedale/bin/Release/ASCOM.RosedaleEQ1.Test.vshost.exe.manifest
/TestRosedale/bin/Release/ASCOM.RosedaleEQ1.Test.vshost.exe.config
/TestRosedale/bin/Release/ASCOM.RosedaleEQ1.Test.vshost.exe
/TestRosedale/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/TestRosedale/obj/x86/Debug/ASCOM.RosedaleEQ1.Form1.resources
/TestRosedale/obj/x86/Debug/TestRosedale.csproj.GenerateResource.Cache
/TestRosedale/obj/x86/Debug/TestRosedale.csproj.FileListAbsolute.txt
/TestRosedale/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestRosedale/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/TestRosedale/obj/x86/Debug/ASCOM.RosedaleEQ1.Test.pdb
/TestRosedale/obj/x86/Debug/ASCOM.RosedaleEQ1.Test.exe
/TestRosedale/obj/x86/Debug/ASCOM.RosedaleEQ1.Properties.Resources.resources
/TestRosedale/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/TestRosedale/obj/x86/Release/ASCOM.RosedaleEQ1.Test.pdb
/TestRosedale/obj/x86/Release/ASCOM.RosedaleEQ1.Test.exe
/TestRosedale/obj/x86/Release/ASCOM.RosedaleEQ1.Properties.Resources.resources
/TestRosedale/obj/x86/Release/ASCOM.RosedaleEQ1.Form1.resources
/TestRosedale/obj/x86/Release/TestRosedale.csproj.GenerateResource.Cache
/TestRosedale/obj/x86/Release/TestRosedale.csproj.FileListAbsolute.txt
/TestRosedale/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
